
  <meta charset="UTF-8">
  <nav>
    <div class="nav-wrapper">
    <a href="http://localhost:3000/" class="brand-logo">Provo</a>
    <a href="/adduser" class="right navBarLink">Add User</a>
    <a href="/upload" class="right navBarLink">Upload Video</a>
      <form class="right">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><span class="material-icons">search</span></label>
          <span class="material-icons">close</span>
        </div>
      </form>

    </div>
  </nav>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <!--Import Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/styles.css">