<!-- <div class="navbar-fixed"> -->
<div class="nav-wrapper">
  <h1 class="brand-logo center">Charity Challenge</h1>
    <ul class="navList">
      <li class="navListItem"><a href="/"><span class="fa fa-home fa-3x"></a></span></li>
      <li class="navListItem"><a href="/challenges"><span class=" fa fa-star fa-3x"></a></span></li>
      <li class="navListItem"><a href="/friends"><span class="fa fa-users fa-3x"></a></span></li>
      <li class="navListItem"><span class="fa fa-camera fa-3x"></span></li>
      <li class="navListItem"><a href="/statistics"><span class="fa fa-line-chart fa-3x"></a></span></li>
      <li class="navListItem"><a href="/profile"><span class="fa fa-user fa-3x"></a></span></li>
      <li class="navListItem"><a href="/"><span class="fa fa-search fa-3x"></a></span></li>
    </ul>
  </div>
<!-- </div> -->