
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Charity Challenge</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Link One</a></li>
        <li><a href="/">Link Two</a></li>
      </ul>
    </div>