<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>

  <% include ../partials/mainNav %>

  <h2 class="center">Add User</h2>

   <div class="row">
    <form class="">
      <div class="row">
        <div class="input-field">
          <label for="userName">Name</label>
          <input id="userName" type="text" class="validate" placeholder="Mike 'Porky' Parry">
        </div>

        <div class="input-field">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" type="text" class="validate" placeholder="15/09/1968">
        </div>

        <button class="waves-effect waves-light btn-large">Add User</button>
        </div>
      </div>
    </form>
  </div>

   
  <% include ../partials/subNav %>

  <% include ../partials/footer %>
  
</body>
</html>