<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>

<div class="container">
  
  <% include ../partials/nav %>

  <section class="challenges"></section>

  <ul>
    <li>Ice Bucket</li>
    <li>Cinnamon</li>
  </ul>
   
  <% include ../partials/subNav %>

  <% include ../partials/footer %>
  
  </div>
</body>
</html>