<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>

<div class="container">
  
  <% include ../partials/mainNav %>

  <section class="challenges"></section>

  <h2 class="center">Challenges</h2>
  <div class="center">
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Ice Bucket<span class="badge">Top</span></a></li>
    <li><a href="/video">Cinnamon<span class="new badge">1</span></a></li>
    <li><a href="#!">Ice Bath</a></li>
    <li><a href="#!">Eat It or Wear It</a></li>
    <li><a href="#!">Mystery Drink</a></li>
    <li><a href="#!">Try not to laugh</a></li>
  </ul>
  <a class="btn dropdown-button" href="#!" data-activates="dropdown2">Select Challenge Type<i class="mdi-navigation-arrow-drop-down right"></i></a>
  </div>
            
   
  <% include ../partials/subNav %>

  <% include ../partials/footer %>
  
  </div>
</body>
</html>