<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>
  
  <div class="container">

  <% include ../partials/mainNav %>
  
  <form>
  <label for""></label>
  <input>
  <button>Donate</button>
  </form>
   
  <% include ../partials/subNav %>

  <% include ../partials/footer %>
  
  </div>
</body>
</html>