<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>
  
  <% include ../partials/nav %>
  
  <form>
  <label for""></label>
  <input>
  <button>Donate</button>
  </form>
   
  <% include ../partials/mainNav %>

  <% include ../partials/footer %>
  
</body>
</html>