<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>

  <div class="container">

    <% include ../partials/mainNav %>
    
    <section id="videoList" class="videoList">

    <div class="videoList">
      <div class="oneVideo">
        <p class="video"><iframe width="300" height="250" src="https://www.youtube.com/embed/87Cwaf8pyN4" frameborder="0" allowfullscreen></iframe></p>
        <p class="videoTitle">CINNAMON CHALLENGE vs PORKY PARRY</p>
      </div>
      
      <div class="oneVideo">
        <p class="video"><iframe width="300" height="250" src="https://www.youtube.com/embed/UFIqV9qR0Rc" frameborder="0" allowfullscreen></iframe></p>
        <p class="videoTitle">EAT IT OR WEAR IT CHALLENGE!</p>
      </div>

      <div class="oneVideo">
        <p class="video"><iframe width="300" height="250" src="https://www.youtube.com/embed/4BDqpUKGGPk" frameborder="0" allowfullscreen></iframe></p>
        <p class="videoTitle">MYSTERY DRINK CHALLENGE</p>
      </div>

      <div class="oneVideo">
        <p class="video"><iframe width="300" height="250" src="https://www.youtube.com/embed/XS6ysDFTbLU" frameborder="0" allowfullscreen></iframe></p>
        <p class="videoTitle">Bill Gates ALS Ice Bucket Challenge</p>
      </div>

      <div class="oneVideo">
        <p class="video"><iframe width="300" height="250" src="https://www.youtube.com/embed/75WhVho5K4A" frameborder="0" allowfullscreen></iframe></p>
        <p class="videoTitle">Extreme Ice Bath Challenge</p>
      </div>

      <div class="oneVideo">
        <p class="video"><iframe width="300" height="250" src="https://www.youtube.com/embed/jEx0AQTRnws" frameborder="0" allowfullscreen></iframe></p>
        <p class="videoTitle">Try Not To Laugh Charity Challenge</p>
      </div>
    </div>

    </section>
  
    <% include ../partials/subNav %>

    <% include ../partials/footer %>
  
  </div>
</body>
</html>