<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>

  <div class="container">
  
  <% include ../partials/mainNav %>

   
  <% include ../partials/subNav %>

  <% include ../partials/footer %>

  </div>
</body>
</html>