<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>

  <div class="container">
  
  <% include ../partials/mainNav %>

  <div class="container">
  <h3>All activity tracked in order to prove business viability</h3>
  <p>We endeavour to build relevant statistics for commercial use</p>
  </div>

  <div id="stats">
    <img src="images/stats.png">
  </div>

  <% include ../partials/subNav %>

  <% include ../partials/footer %>

  </div>
</body>
</html>