<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>

  <% include ../partials/nav %>
   
  <% include ../partials/mainNav %>

  <% include ../partials/footer %>
  
</body>
</html>