<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>

  <% include ../partials/nav %>

  <p>fnlkjnlvkgnsklf</p>
   
  <% include ../partials/mainNav %>

  <% include ../partials/footer %>
  
</body>
</html>