<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>

  <div class="container">
  
  <% include ../partials/MainNav %>

  <section id="video" class="video">

    
      <p class="center-align"id="videoBox"><iframe width="560" height="315" src="https://www.youtube.com/embed/87Cwaf8pyN4" frameborder="0" allowfullscreen></iframe></p>
      <table>
      <tr>
        <td>Title</td>
        <td>CINNAMON CHALLENGE vs PORKY PARRY</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>Mike 'Porky' Parry does the Cinnamon challenge</td>
      </tr>
      <tr>
        <td>Charity</td>
        <td>British Heart Foundation</td>
      </tr>
      <tr>
        <td>Amount Donated</td>
        <td>£50</td>
      </tr>

  </section>

  <section>
    <a href="donate.ejs"><button>DONATE</button></a>
  </section>

  <% include ../partials/subNav %>

  <% include ../partials/footer %>
  
  </div>
</body>
</html>