<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>
  
  <% include ../partials/nav %>

  <section id="video" class="video">

    <ul class="center-align">
      <li id="videoBox"><iframe width="560" height="315" src="https://www.youtube.com/embed/87Cwaf8pyN4" frameborder="0" allowfullscreen></iframe></li>
      <li id="videoTitle"></li>
      <li id="videoCharity"></li>
      <li id="donationAmount"></li>
      <li id="videoDescription"></li>
    </ul>

  </section>

  <section>
    <a href="donate.ejs"><button>DONATE</button></a>
  </section>

  <% include ../partials/footer %>
  
</body>
</html>