<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body>

  <div class="container">
  
  <% include ../partials/MainNav %>

  <section id="video" class="video">

  <h2 class="center">Video</h2>

    <p class="center-align"id="videoBox"><iframe width="560" height="315" src="https://www.youtube.com/embed/87Cwaf8pyN4" frameborder="0" allowfullscreen></iframe></p>
      <table>
      <tr>
        <td class="videoInfoHeading">Video Title</td>
        <td class="videoInfoDetail">CINNAMON CHALLENGE vs PORKY PARRY</td>
      </tr>
      <tr>
        <td class="videoInfoHeading">Description</td>
        <td class="videoInfoDetail">Mike 'Porky' Parry does the Cinnamon challenge</td>
      </tr>
      <tr>
        <td class="videoInfoHeading">Charity</td>
        <td class="videoInfoDetail">British Heart Foundation</td>
      </tr>
      <tr>
        <td class="videoInfoHeading">Amount Donated</td>
        <td class="videoInfoDetail">£50</td>
      </tr>
      </table>

  </section>

  <section>
    <p class="center"><a href="donate.ejs"><button class="waves-effect waves-light btn-large">DONATE</button></a>
  </section>

  <% include ../partials/subNav %>

  <% include ../partials/footer %>
  
  </div>
</body>
</html>